#top-menu {
	background: var(--gb-bg0-hard);
}

/*#lanes-container {*/
/*	display: flex !important;*/
/*	overflow-x: auto !important;*/
/*}*/
/**/
/*#lanes-container > * {*/
/*	position: relative !important;*/
/*	flex-shrink: 0;*/
/*}*/

.lane {
	background: var(--gb-bg2);
}

#lanes-container > *:nth-child(2n - 1) .lane {
	background: var(--gb-bg1);
}

.lane-item {
	border: solid 2px var(--accent);
	border-radius: 20px;
}

