#top-menu {
	background: var(--gb-bg0-hard);
}

.lane {
	background: var(--gb-bg2);
}

#lanes-container {
	overflow: auto !important;
}

#lanes-container > div {
	overflow: visible !important;
}

.note {
	background: var(--gb-bg1);
}

.with-border {
	border: solid 2px var(--accent);
	border-radius: 5px;
}

.button-danger {
	background-color: var(--gb-dark-red);
	border-color: var(--gb-dark-red);
}

.button-danger:enabled:hover {
	background-color: var(--gb-light-red);
	border-color: var(--gb-light-red);
}

