#top-menu {
	background: var(--gb-bg0-hard);
}

.lane {
	background: var(--gb-bg2);
}

#lanes-container > *:nth-child(2n - 1) .lane {
	background: var(--gb-bg1);
}

.lane-item {
	border: solid 2px var(--accent);
	border-radius: 20px;
}

.with-border {
	border: solid 2px var(--accent);
	border-radius: 20px;
}

.button-danger {
	background-color: var(--gb-dark-red);
	border-color: var(--gb-dark-red);
}

.button-danger:enabled:hover {
	background-color: var(--gb-light-red);
	border-color: var(--gb-light-red);
}

.button-danger:focus-visible {
	outline-color:var(--gb-light-red);
}

