#top-menu {
	background: var(--gb-bg0-hard);
}

.lane {
	background: var(--gb-bg2);
}

#lanes-container > *:nth-child(2n - 1) .lane {
	background: var(--gb-bg1);
}

.lane-item {
	border: solid 2px var(--accent);
	border-radius: 20px;
}

.with-border {
	border: solid 2px var(--accent);
	border-radius: 20px;
}

